body {
   background-color: #222831;
   color: #DFD0B8;
}

.main {
   text-align: center;
   color: #DFD0B8;
}

pre {
   font-size: 30px;
}


.dni {
   position: absolute;
   display: inline-block;
   left: 80%;
   top: 20%;
   width: 20%;
 }

.dni a{
   background-color: red;
   display: block;
   text-align: center;
}
#srednia {
   background-color: red;
   width: 40%;
}